.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

a{
    width: 40%;
}

.box-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    border: 2px solid black;
}